header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title-link {
  text-decoration: none;
  color: black;
}

.header-signup-link {
  margin-left: 20px;
}

.header-paragraph {
	margin-bottom: 3em;
	margin-top: 1em;
}

.header-login-button, .header-signup-button {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius: 1em;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.header-login-button:hover, .header-signup-button:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.header-login-button:active, .header-signup-button:active {
	position:relative;
	top:1px;
}

