.vocab-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
}

li.vocab-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  border: 1px solid black;
  width: 450px;
}

.dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 500px) {
  .vocab-card {
    max-width: 90vw;
  }
}