.learning-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.learning-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learning-form > * {
  margin-bottom: 1em;
}

.learning-section {
  display: flex;
  flex-direction:column;
  align-items: center;
}

#learn-guess-input {
  font-size: 19px;
}

li.vocab-card {
  margin-bottom: 1.5em;
  border-radius: 1em;
}

h4 {
  color: #942911;
}

.learn-word {
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 1em;
}

.correctly-div {
  margin-bottom: 1em;
  font-size: 19px;
  text-align: center;
}

.incorrectly-div {
  text-align: center;
  font-size: 19px;
}

@media (max-width: 500px) {
  .learning-div {
    max-width: 90vw;
  }
}